table.dashed {border-style: dashed;}
			input[type=submit] {
			padding:5px 15px; 
			background:#ccc; 
			border:0 none;
			cursor:pointer;
			-webkit-border-radius: 5px;
			border-radius: 5px; 
			}
			input[type=reset] {
			padding:5px 15px; 
			background:#ccc; 
			border:0 none;
			cursor:pointer;
			-webkit-border-radius: 5px;
			border-radius: 5px; 
			}
			input[type=text] {
			width: 100%;
			padding: 6px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			border: none;
			background-color: grey;
			color: white;
			}
			input[type=number] {
			width: 100%;
			padding: 6px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			border: none;
			background-color: grey;
			color: white;
			}